@model Bardellino.Models.Servizi

@{
    ViewBag.Title = "EditImg";
}

<h2>Gestione immagini</h2>
<h4>
    Galleria fotografica <span class="badge">@Html.DisplayFor(model => model.Servizio)</span>
</h4><hr />
@using (Html.BeginForm("EditImg", "Servizis", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="files" id="file" multiple />
    <p><span class="label label-success">Dimensione massima file o gruppo di file 4Mb</span></p>
    <h4><span class="label label-danger">@ViewBag.Message</span></h4>
    <input type="submit" value="Scarica immagine" class="btn btn-success" />
    @Html.ActionLink("Torna alla galleria", "IndexUt", "Servizis", new { @class = "btn btn-primary" })
}
<hr />
<div class="galla1">
    @foreach (var item in ViewBag.Immagini)
    {
        var filename = Path.GetFileName(item);
        <div>
            <span>
                <a href="@Url.Content("~/Content/Immagini/Servizi/" + Html.DisplayFor(model => model.Servizo_Id) +"/" + @filename)" data-lightbox="example-set"><img src="@Url.Content("~/Content/Immagini/Servizi/" + Html.DisplayFor(model => model.Servizo_Id) +"/" + @filename)" alt="" /></a>
                <b><a href="@Url.Action("DeleteImg", "Servizis", new { id = Model.Servizo_Id, file = @filename})" title="Cancella immagine"> X </a></b>
            </span>
        </div>
    }

</div>
