@model IEnumerable<Bardellino.Models.Servizi>

@{
    ViewBag.Title = "Galleria";
}

@*Inizio galleria generale*@
<h2>Galleria
    @if(User.Identity.Name == "cascinabardellino@gmail.com")
    {
        <a href="@Url.Action("EditImgTot", "Servizis")" title="Aggiungi immagine"><span class="fa fa-plus-circle text-success"></span></a>
    }
    </h2>
<div class="galla1">
    @foreach (var tot in ViewBag.Immagini)
    {
        var filename = Path.GetFileName(tot);
            <div>
                <span>
                    <a href="@Url.Content("~/Content/Immagini/Servizi/Tot/" + @filename)" data-lightbox="example-set"><img src="@Url.Content("~/Content/Immagini/Servizi/Tot/" + @filename)" alt="" /></a>
                    @if (User.Identity.Name == "cascinabardellino@gmail.com")
                    {
                        <c><a href="@Url.Action("ImgRotateD", "Servizis", new { file = "Tot/" + @filename })" title="ruota immagine"> <span class="fa fa-undo"> </span> </a></c>
                        <b><a href="@Url.Action("DeleteImgTot", "Servizis", new {file = @filename })" title="Cancella immagine"> X </a></b>
                    }
                </span>
            </div>
    }
</div>
@*Fine galleria generale*@

@*Inizio galleria servizi*@
    @foreach (var item in Model)
    {
        <div>
            @{
                var immagini = Directory.GetFiles(Server.MapPath("/Content/Immagini/Servizi/" + item.Servizo_Id + "/")).ToList();
                if (User.Identity.Name == "cascinabardellino@gmail.com")
                {
                    <hr class="hr1" />
                    <span class="badge">@item.Servizio</span>
                        <a href="@Url.Action("EditImg", "Servizis", new {id = item.Servizo_Id })" title="Aggiungi immagine" class="h2"><span class="fa fa-plus-circle text-success"></span></a>
                    if (immagini.Count() > 0)
                    {
                        <div class="galla1">
                            @foreach (var immagine in immagini)
                            {
                                var filename = Path.GetFileName(immagine);
                                <div>
                                    <span>
                                        <a href="@Url.Content("~/Content/Immagini/Servizi/" + item.Servizo_Id + "/" + @filename)" data-lightbox="example-set"><img src="@Url.Content("~/Content/Immagini/Servizi/" + item.Servizo_Id +"/" + @filename)" alt="" /></a>
                                        @if (User.Identity.Name == "cascinabardellino@gmail.com")
                                        {
                                            <c><a href="@Url.Action("ImgRotateD", "Servizis", new { file = @item.Servizo_Id + "/" + @filename })" title="ruota immagine"> <span class="fa fa-undo"> </span> </a></c>
                                            <b><a href="@Url.Action("DeleteImg", "Servizis", new {id = item.Servizo_Id, file = @filename })" title="Cancella immagine"> X </a></b>
                                        }
                                    </span>
                                </div>
                            }
                        </div>

                    }
                }
                else
                {
                    if (immagini.Count() > 0)
                    {
                        <hr class="hr1" />
                        <span class="badge">@item.Servizio</span>
                        <div class="galla1">
                            @foreach (var immagine in immagini)
                            {
                                var filename = Path.GetFileName(immagine);
                                <div>
                                    <span>
                                        <a href="@Url.Content("~/Content/Immagini/Servizi/" + item.Servizo_Id + "/" + @filename)" data-lightbox="example-set"><img src="@Url.Content("~/Content/Immagini/Servizi/" + item.Servizo_Id +"/" + @filename)" alt="" /></a>
                                        @if (User.Identity.Name == "cascinabardellino@gmail.com")
                                        {
                                            <c><a href="@Url.Action("ImgRotateD", "Servizis", new { file = @item.Servizo_Id + "/" + @filename })" title="ruota immagine"> <span class="fa fa-undo"> </span> </a></c>
                                            <b><a href="@Url.Action("DeleteImg", "Servizis", new {id = item.Servizo_Id, file = @filename })" title="Cancella immagine"> X </a></b>
                                        }
                                    </span>
                                </div>
                            }
                        </div>

                    }
                }
            }

        </div>
                }
@*fine galleria servizi*@

@*Pulsante mobile*@
@if (Request.Browser.IsMobileDevice)
{
    <div class="mobile">
        <h1><a href="@Url.Action("EditImgCel", "Servizis")"><span class="fa fa-mobile fa-2x"></span></a></h1>
    </div>

}
