@model Bardellino.Models.ServiziMailViewModels

@{
    ViewBag.Title = "IndexUtMail";
}

<div class="jumboBardellino">
    <div class="divContatti">
        <h2>Richiesta informazioni</h2>
        <div class="row">
            <div class="col col-md-4">
                <p>
                    <address>
                        Cascina Bardellino<br />
                        Via Roma, 26 - Castel Gabbiano (CR)<br />
                        <abbr title="Phone">Tel:</abbr>
                        +39 0373 419535<br />
                        <abbr title="Cell">Cell:</abbr>
                        335 6943774/772
                    </address>
                    <address>
                        cascinabardellino@gmail.com<br />
                        <a href="mailto:cascinabardellino@gmail.com" title="cascinabardellino@gmail.com"><span class="fa fa-envelope-o fa-4x"></span></a>
                    </address>

                </p>
            </div>
            @using (Html.BeginForm("IndexUtMail", "Servizis", FormMethod.Post, new {servizio = @Request.QueryString["servizio"], @class = "form-horizontal", role = "form" }))
            {
                <div class="col col-md-8">
                    <form>
                        <div class="form-group">
                            <div class="col col-md-10">
                                <div class="alert alert-warning">
                                    <span class="h3">Richiesta informazioni per <strong>@Request.QueryString["servizio"]</strong></span>
                                    @Html.ValidationSummary("", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Nome, new { @class = "form-control", @placeholder = "Il tuo nome" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Cognome, new { @class = "form-control", @placeholder = "Il tuo cognome" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "La tua mail" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Tel, new { @class = "form-control", @placeholder = "Telefono o cellulare" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.TextAreaFor(m => m.Messaggio, new { @class = "form-control", @placeholder = "Il tuo messaggio" })
                            </div>
                        </div>
                        <button type="submit" class="btn btn-bardellino">Invia messaggio</button>
                        @Html.ActionLink("Torna ai servizi", "IndexUt", "Servizis", new {@class="btn btn-success" })
                    </form>
                </div>

            }
        </div>

    </div>
</div>

