<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/moment-with-locales.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @*Menu di navigazione*@
    <div class="navbar navbar-default navbar-fixed-top">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Cascina Bardellino", "Index", "Home", new { area = "" }, new { @class = "navbar-brand header-logo" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Dove siamo", "Dove", "Home")</li>
                    <li>@Html.ActionLink("Contatti", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Galleria", "Galleria", "Servizis")</li>
                    <li>@Html.ActionLink("Servizi", "IndexUt", "Servizis")</li>
                    @if (User.Identity.Name == ("cascinabardellino@gmail.com"))
                    {
                        <li>@Html.ActionLink(" Promo", "Index", "Promoes", null, new {@class= "fa fa-google-wallet", title ="Gestione promo" })</li>
                        <li>@Html.ActionLink(" Sfondi", "Index", "Slides", null, new { @class = "fa fa-picture-o", title = "Gestione sfondi" })</li>
                    }
                </ul>
                <ul class="nav navbar-collapse navbar-right">
                    <li class="h3">@Html.Partial("_LoginPartial")
                    </li>
                </ul>
            </div>
    </div>
    <div class="body-content">
        <img class="ImgBody" src="@Url.Content("~/Content/Immagini/" + @ViewBag.Title + ".jpg")" />
        @RenderBody()
        <footer class="navbar-fixed-bottom">
            <p>
              @Html.Partial("_LoginPartial")  &copy; @DateTime.Now.Year - Cascina Bardellino
            </p>
        </footer>
    </div>
    @*Fine menu navigazione*@
    @*Social laterale destra*@

    <div class="docu">
        <p>
            <a href="#nogo" id="xdocu" title="Social"><span class="glyphicon glyphicon-remove text-danger"></span></a><br />
        </p>
            <ul>
                <li>
                    <a href="https://www.facebook.com/letuecerimonie" target="_blank" title="Seguici su Facebook">
                        <img src="~/Content/Immagini/fb.png" />
                    </a>

                </li>
            </ul>
            <ul>
                <li>
                    <a href="https://www.instagram.com/cascina.bardellino/" target="_blank" title="Seguici su Instagram">
                        <img src="~/Content/Immagini/Instagram.png" />
                    </a>

                </li>
            </ul>
        <ul>
            <li>
                <a href="https://www.matrimonio.com/ristoranti-ricevimenti/cascina-bardellino--e105767/" target="_blank" title="Siamo su matrimonio.com">
                    <img src="~/Content/Immagini/Mat.png" />
                </a>

            </li>
        </ul>
   </div>

    @*Fine Socal laterale destra*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $('#bt').mouseover((function () {
            $('[data-toggle="tooltip"]').tooltip()
        }));
        $('#xdocu').click(function () {
            $('.docu ul li').toggle('normal');
        });
    </script>
</body>
</html>
